label{
  font-size: large;
  color: #337ab7 ;
}

select:focus{
  border-radius: 24px !important ;
  border-color: orange !important;
}

select:active{
  border-radius: 24px;
  border-color: orange;
}

select{
  border-radius: 24px;
  border-color: orange;
}

.mafleche{
  animation-duration: 1s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}

@keyframes glissement {
  0% {
    margin-top: 0rem;
  }

  50%{
    margin-top: 1rem;
  }

  100% {
    margin-top: 0rem;
  }
}


#nav input{
  padding: 0.7rem;
  border: 1px solid orange;
  border-radius: 2rem;
}

#nav button{
  border: 1px solid white;
  border-radius: 2rem;
  margin-right: 1rem ;
}
