#currentUser {
  /*    background-color: transparent !important ;*/
  background-color: white !important ;
  border-color: transparent !important;
  color : #337ab7 !important;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

.dropdown-menu{
  position: relative;
}

#currentUser:hover{
  border-color: transparent !important;
  color : orange !important ;
}

#disconnect-btn{
  background-color: transparent;
}

#disconnect-btn:hover{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

#disconnect-btn:active{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
