/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


html{
  background-color: white ;
}

input{
  margin: 1rem !important;
}

body{
  padding-top: 0rem !important ;
  overflow-x: hidden;
}

button{
  border-radius: 1rem 0 1rem 1rem !important;
  background-color: #F39200 !important;
}

button:hover{
  border-radius: 1rem 0 1rem 1rem !important;
  background-color: #FFFFFF !important;
  border-color: #F39200 !important;
  color: #36A9E0 !important;
  font-weight: bolder;
}

.bg
{
  background-color: transparent;
}

.tab-pane h3{
  padding: 1rem !important;
}

